[project]
name = "xradio"
version = "0.0.31"
description = " Xarray Radio Astronomy Data IO"
authors = [
    {name = "Jan-Willem Steeb", email="jsteeb@nrao.edu"},
]
license = {file = "LICENSE.txt"}
readme = "README.md"
requires-python = ">= 3.9, < 3.12"

dependencies = [
    'astropy',
    'casadata',
    'dask',
    'distributed',
    'graphviper',
    'matplotlib',
    'numba>=0.57.0',
    'numpy<2.0.0',
    'prettytable',
    'pytest',
    'pytest-cov',
    'pytest-html',
    's3fs',
    'scipy',
    'tqdm',
    'xarray',
    'zarr',
    'pyarrow',
    'python_casacore>=3.5.2; sys_platform != "darwin" ',
    'typing_extensions; python_version < "3.10"',
    'typeguard'
]

[project.optional-dependencies]
docs = [
    'jupyterlab',
    'ipykernel',
    'ipympl',
    'ipython',
    'jupyter-client',
    'nbsphinx',
    'recommonmark',
    'scanpydoc',
    'sphinx-autoapi',
    'sphinx-autosummary-accessors',
    'sphinx_rtd_theme',
    'twine',
    'pandoc'
]

[tool.pytest.ini_options]
addopts = [
    "--import-mode=importlib",
    "--strict-markers"
]
testpaths = [
    "tests"
]
pythonpath = [
    "."
]

[tool.black]
line-length = 88
target-version = ['py39']
include = '\.py$'
