name: Python Testing Integration

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.rst'
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '**.rst'

jobs:
  test:
    uses: nrao/gh-actions-templates-public/.github/workflows/python-testing-integration-template.yml@main
    secrets:
      DISPATCH_TOKEN: ${{ secrets.TESTVIPER_DISPATCH_TOKEN }}
