# Run MacOS tests using template in ToolVIPER
name: MacOS Tests

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.rst'
  push:
    branches:
      - main

jobs:
  call-testing-macos:
    uses: nrao/gh-actions-templates-public/.github/workflows/python-testing-macos-template.yml@main
