name: "Tests schemas are importable on a basic xradio install"

on:
  push:
    paths-ignore:
      - '**.md'
      - '**.rst'
  pull_request:
    paths-ignore:
      - '**.md'
      - '**.rst'

jobs:
  test_schema:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up Python 3
      uses: actions/setup-python@v5
      with:
        python-version: 3.13

    - name: Install base xradio
      run: |
        python -m pip install --upgrade pip
        pip install .

    - name: Test that schemas are importable
      run: python -c "import xradio.measurement_set; import xradio.schema.check"